.operate {
	border: 1px solid;
	padding: 3px 16px 4px 10px;
}
.listIcon{
	/* display:inline-block; */
	background: url(../../images/sprite.png) -218px 0px ;
}

.handler {
	cursor: pointer;
	padding: 3px 25px;
	border: 1px solid #ccc;
	background: url(../../images/down.png) no-repeat;
	background-position: 71px 7px;
}

.handler.active,
.handler:hover {
	color: #FAFAFA;
	background: #5F5F5F;
	background-image: url("../../images/down1.png");
	background-repeat: no-repeat;
	background-position: 71px 7px;
}

.handler-list li:hover {
	color: white;
	background: blue;
}

.handler-list li:hover a {
	color: white;
}

.handler-list {
	display: none;
	position: absolute;;
	top: 24px;
	background: white;
	z-index: 2;
	border: 1px solid rgb(169,169,169);
	width: 98px;
}

.handler-list li {
	line-height: 20px;
}

.handler-list a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.handler-row {
	position: relative;
	display: inline-block;
}

.list {
	text-align: center;
}

.list th{
	text-align: center;
}

.bar >* {
	margin-top:0px;
}

.button {
	height:30px;
	padding:0 25px;
}